__pycache__/
*.egg-info/
pytest_cache/

# Ignore workspace lock file generated during CI
Cargo.lock

# Rust build artifacts
rust/rust_ami_py/target/
rust/rust_ami_py/Cargo.lock
rust/rust_ami_py/vendor/
tests/NewData/
ami2py/rust_bitparser.so
ami2py/rust_bitparser.pyd
ami2py/rust_amidatabase.so
ami2py/rust_amidatabase.pyd
ami2py/rust_amireader.so
ami2py/rust_amireader.pyd

# Ignore compiled CLI binaries
rust/ami_cli/bin/
rust/ami_cli/target/
rust/ami_cli/Cargo.lock
target/
