__pycache__/
*.egg-info/
pytest_cache/

# Rust build artifacts
rust_bitparser/target/
rust_bitparser/Cargo.lock
rust_bitparser/vendor/
rust_amidatabase/target/
rust_amidatabase/Cargo.lock
rust_amidatabase/vendor/
rust_amireader/target/
rust_amireader/Cargo.lock
tests/NewData/
ami2py/rust_bitparser.so
ami2py/rust_bitparser.pyd
ami2py/rust_amidatabase.so
ami2py/rust_amidatabase.pyd
ami2py/rust_amireader.so
ami2py/rust_amireader.pyd

# Ignore compiled CLI binaries
ami_cli/bin/
