__pycache__/
*.egg-info/
pytest_cache/

# Rust build artifacts
rust/rust_bitparser_py/target/
rust/rust_bitparser_py/Cargo.lock
rust/rust_bitparser_py/vendor/
rust/rust_amidatabase_py/target/
rust/rust_amidatabase_py/Cargo.lock
rust/rust_amidatabase_py/vendor/
rust/rust_amireader_py/target/
rust/rust_amireader_py/Cargo.lock
tests/NewData/
ami2py/rust_bitparser.so
ami2py/rust_bitparser.pyd
ami2py/rust_amidatabase.so
ami2py/rust_amidatabase.pyd
ami2py/rust_amireader.so
ami2py/rust_amireader.pyd

# Ignore compiled CLI binaries
rust/ami_cli/bin/
rust/ami_cli/target/
rust/ami_cli/Cargo.lock
rust/rust_bitparser/target/
rust/rust_amireader/target/
rust/rust_amidatabase/target/
rust/rust_bitparser/Cargo.lock
rust/rust_amireader/Cargo.lock
rust/rust_amidatabase/Cargo.lock
rust/mcp_server/target/
rust/mcp_server/Cargo.lock
